* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }

  .dashboard-containers {
    max-width: 2000px;
    background-image: url('/image/homepage.avif');
    margin: 0 auto;
    padding: 20px;
  }
  .welcome-sections {
    background:fixed;
    padding: 300px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .welcome-section h1 {
    font-size: 32px;
    color: #333;
  }
  
  .welcome-section p {
    font-size: 18px;
    color: #666;
  }